* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: 'Fredoka', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

#slide-bg {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation-name: slideBg;
    animation-duration: 60s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
    opacity: 0.8;
}

@keyframes slideBg {
    0% {
        background-image: url(./1.jpg);
    }
    14% {
        background-image: url(./2.jpg);
    }
    28% {
        background-image: url(./3.jpg);
    }
    42% {
        background-image: url(./4.jpg);
    }
    57% {
        background-image: url(./5.jpg);
    }
    71% {
        background-image: url(./6.jpg);
    }
    85% {
        background-image: url(./7.jpg);
    }
    100% {
        background-image: url(./8.jpg);
    }
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: rgb(228, 253, 228);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
    font-weight: bolder;
    font-size: 25px;
    color: #333;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 18px;
    color: #333;
    padding: 20px;
    display: block;
}

header .navbar ul li a:hover {
    color: rgb(228, 253, 228);
    background-color: #333;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: rgb(228, 253, 228);
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background: rgb(208, 255, 208);
}

header .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}

header .navbar ul li:focus-within>ul,
header .navbar ul li:hover>ul {
    display: block;
    z-index: 10;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 18px;
    color: #333;
    cursor: pointer;
    display: none;
}

header .navbar ul li ul li ul li {
    background: rgb(188, 255, 188);
}

@media (max-width:990px) {
    header {
        padding: 20px;
    }
    header label {
        display: initial;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgb(228, 253, 228);
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        display: none;
    }
    header .navbar ul li {
        width: 100%;
    }
    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }
    header .navbar ul li ul li {
        background: rgb(208, 255, 208);
    }
    header .navbar ul li ul li ul {
        width: 100%;
        left: 0;
    }
    header .navbar ul li ul li ul li {
        background: rgb(188, 255, 188);
    }
    #menu-bar:checked~.navbar {
        display: initial;
    }
}
